.menuUl{
    padding: 0;
    margin: 0;
}

.menuLi{
    display: inline-block;
}

.menuLi:not(:last-child){
    padding-right: 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: lightcyan;
}
