.overlay{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(70, 87, 86, 0.1);
    height: 100%;
    width: 100%;
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}

.container{
    padding: 30px;
    width: 300px;
    display: grid;
}

.header {
    padding: 15px 0;
}

.body {
    padding: 15px 0;
}
.footer {
    justify-self: center;
    padding: 10px 0;
}
