.item{
    position: relative;
    display: grid;
    padding: 35px 20px;
    width: 250px;
    box-shadow: -2px 3px 15px -4px rgba(9, 19, 18, 0.56);
    background-color: #ffffff;
    margin-bottom: 25px;
    border-radius: 10px;
}

.item:hover{
    box-shadow: -2px 3px 15px -4px rgba(9, 19, 18, 0.86);
}

.photo {
    border: 1px solid rgba(72, 185, 181, 0.73);
    height: 250px;
    position: relative;
}

.imgItems{
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.info {
    justify-self: center;
    padding-top: 10px;
}

.cost{
    font-weight: bold;
}

.title {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}

.article {
    font-size: 12px;
}

.card{

    margin-top: 10px;
    border: none;
    background-color:  rgba(72, 185, 181, 0.73);
    border-radius: 6px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.icon{
    width: 30px;
}

.containerDif{
    display: flex;
    justify-content: space-between;
}

.deleteFromBag{
    position: absolute;
    top: 10px;
    right: 20px;
    color:  rgba(72, 185, 181, 0.73);
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 0;
    font-size: 16px;
}